table {
    width: 10%;
    text-align: center;
  }
  
  th,
  td {
    text-align: center;
    width: 10%;
  }
  
  th.mat-header-cell {
    text-align: center;
  }
  
  hr{
    margin:0px;
    border: 1px solid blue;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 60px;
    margin-right: 60px;
  }

  ng-container {
    text-align: center;
  }