<div class="container">
  <div class="form-container">
    <form [formGroup]="compraForm" (ngSubmit)="onSubmit()">
      <div formGroupName="client">
        <div>
          <label for="idType">Tipo de Identificación:</label>
          <input type="text" id="idType" formControlName="idType">
        </div>
        <div>
          <label for="identity">Identificación:</label>
          <input type="number" id="identity" formControlName="identity">
        </div>
        <div>
          <label for="clientName">Nombre del Comprador:</label>
          <input type="text" id="clientName" formControlName="clientName">
        </div>
      </div>
      <div formArrayName="compra">
        <div *ngFor="let compraItem of compraControls.controls; let i = index">
          <div [formGroupName]="i">
            <div>
              <label for="idProduct">Nombre del Producto:</label>
              <select id="idProduct" formControlName="idProduct">
                <option *ngFor="let productId of products1" [value]="productId.id">{{ productId.name }}</option>
              </select>
            </div>
            <div>
              <label for="quantity{{ i }}">Cantidad:</label>
              <input type="number" id="quantity{{ i }}" formControlName="quantity">
            </div>
            <button type="button" (click)="removeCompra(i)">Eliminar</button>
          </div>
        </div>
      </div>
      <div>
        <button type="button" (click)="addCompra()">Agregar Compra</button>
      </div>
      <button type="submit">Guardar</button>
    </form>
  </div>
</div>
